/* Reset some default styles to ensure consistency across browsers */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Style the container for your buttons */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Style the individual buttons */
.button {
  display: block;
  text-align: center;
  width: 80%;
  max-width: 300px;
  margin: 10px;
  padding: 15px;
  background-color: #0074cc;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s;
  background-size: cover; /* Make background images cover the button */
  background-position: center; /* Center the background image */
}

.button:hover {
  background-color: #0055a4;
}

/* You can define different styles for each button if needed */
.button:nth-child(1) {
  background-image: url('button1-image.jpg');
}

.button:nth-child(1):hover {
  background-color: #d63717;
}

.button:nth-child(2) {
  background-image: url('button2-image.jpg');
}

.button:nth-child(2):hover {
  background-color: #0c4aa9;
}

.button:nth-child(3) {
  background-image: url('button3-image.jpg');
}

.button:nth-child(3):hover {
  background-color: #4d9e42;
}
.h1 {
      text-align: center;
      font-size: 24px;
      color:#941818;
    }
.h2 {
      text-align: center;
      font-size: 18px;
    }
.h3 {
      text-align: center;
      font-size: 16px;
    }
.div {
      width: 300px;
      margin: 0 auto;
      padding-top: 20px;
    }

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .button {
    width: 100%; /* Make buttons occupy the full width on mobile */
  }
}
